body {
    background-color: brown;
    height: 650px;
    margin: 8px;
}
body > img {
    display: inline-block;
    position: absolute;
    height: 600px;
    width: 800px;
    margin-left: calc( (100% - 800px) / 2 );
    margin-top: 25px;
}
div > img {
    display: inline-block;
    position: absolute;
    width: 261px;
    height: 374px;
    margin-top: 134px;
    margin-left: 230px;
    
}